body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    background: linear-gradient(135deg, #41295a, #2f0743);
    color: white;
    padding: 60px;
}

.welcome-text{
    font-size: 50px;
    font-weight: bold;
    color: gold;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.header-image img {
    width: 180px;
    height: auto;
    border-radius: 10%;
    
}
.header-image-right  img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50;
}

.header-text {
    max-width: 500px;
}

.header-text h1 {
    margin: 0;
    font-size: 36px;
}
.portfolio-description{
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f8f8;
}

.portfolio-description h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #4b0082;
}
.portfolio-description p {
    max-width: 800px;
    margin: auto;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}



.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: gold;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 15px;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
}